env.txt
config.local.php
new_template.html
add_nova_api.txt
config.php
env.txt~
App/Certificates
uploads/blog/*
!uploads/blog/.gitkeep
scripts
refatorar.md
logs
.env
.env.deploy
node_modules/
deploy.config.json
deploy.js